body {
    background: linear-gradient(120deg, #e8c4ce, #aed9e0);
}

.form-container-color {
    background: gray
    /* linear-gradient(to top, #e8c4ce, #aed9e0) */
    ;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.4);

}
.title-page {
    color: black;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    width: fit-content;
    border-radius: 10% ;
    text-shadow: 4px 4px 2px rgba(165, 62, 205, 0.3);
}


.additional-element {
    width: 100%;
}