body {
    background: linear-gradient(120deg, #e8c4ce, #aed9e0);
}

.form-container-color {
    background: gray;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
}

.btn-style {
    display: inline-block;
    background-color: #e8c4ce;
    border: none;
}


  .btn-style:hover {
    animation: none ;
    background-color: aquamarine;
    text-shadow: 0px 16px 32px rgba(0, 0, 0, 0.4);
  }