/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
}


#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background: linear-gradient(120deg,#aed9e0, #e8c4ce);
  border-radius: 4vmin;
  
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: black;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}
/* 
button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
} */

.nav-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  font-size: 1.5rem;
  color: #333;
}
.nav-style a {
  text-decoration: none;
  color: #333;
  position: relative;
}

.nav-style a:hover {
  text-decoration: underline;
  cursor: pointer;
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-left {
  text-align: left;
}
.card-style {
  background-color: pink;
  margin: 2vmin;
  text-decoration: none;
  transition: box-shadow 0.3s ease; /* Add a transition for smooth shadow effect */
}

.card-style:hover {
  cursor: pointer;
  animation: bounce 0.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add an elevated shadow effect on hover */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.card-style .card-body {
  text-align: left;
  padding: 0.9vmin;
  text-decoration: none;
}

.card-style .card-body p {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.remove-line {
  text-decoration: none;
}

.btn-bounce {
    display: inline-block;
    z-index: 1;
    
    background-color: hotpink;
    border: 1vmin pink;
    color: black;
    width: fit-content;

}
  
.btn-bounce:hover {
  animation-name: none;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  background-color: rgb(178, 255, 105);
  color: black;
}


.create-style {
  text-decoration: none;
  color: black;
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bounce:hover {
  animation-name: none;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  color: blue;
}

.form-container-color {
  background: gray;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
}

.btn-style {
  display: inline-block;
  animation: bounce 0.5s ease;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: #e8c4ce;
  border: none;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.btn-style:hover, .btn-styles:hover {
  animation: none ;
  background-color: aquamarine;
  text-shadow: 0px 16px 32px rgba(0, 0, 0, 0.4);
}
.btn-styles {
  display: inline-block;
  animation: bounce 0.5s ease;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-color: #4fb7d4;
  border: none;

}
.load-spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}
@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}